
* {
	border:0;
	margin:0;
	padding:0;
}

/* general */
a {
	color:#666;
	text-decoration:none;
}

a:hover {
	color:#333;
	text-decoration:none;
}

/* Basic */
	body {
		font:0.8em "3dumb", Arial, Helvetica, "bitstream vera sans", sans-serif;
		height: 100%;
		background-color: #ffffff;
		background-image: url("../img/overlay.png"), -moz-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../img/bg.jpg");
		background-image: url("../img/overlay.png"), -webkit-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../img/bg.jpg");
		background-image: url("../img/overlay.png"), -ms-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../../img/bg.jpg");
		background-image: url("../img/overlay.png"), linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../img/bg.jpg");
		background-repeat: repeat,			no-repeat,			no-repeat;
		background-size: 100px 100px, cover,				cover;
		background-position: top left,		center center,		bottom center;
		background-attachment: fixed,			fixed,				fixed;
	}

	#main {
		position: relative;
		max-width: 100%;
		min-width: 27em;
		padding: 0.5em 3em 3em 3em ;
		background: #ffffff;
		border-radius: 4px;
		cursor: default;
		opacity: 0.95;
		-moz-transform-origin: 50% 50%;
		-webkit-transform-origin: 50% 50%;
		-ms-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		-moz-transform: rotateX(0deg);
		-webkit-transform: rotateX(0deg);
		-ms-transform: rotateX(0deg);
		transform: rotateX(0deg);
		-moz-transition: opacity 1s ease, -moz-transform 1s ease;
		-webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
		-ms-transition: opacity 1s ease, -ms-transform 1s ease;
		transition: opacity 1s ease, transform 1s ease;
	}

	#wrapper {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		-moz-justify-content: space-between;
		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-moz-perspective: 1000px;
		-webkit-perspective: 1000px;
		-ms-perspective: 1000px;
		perspective: 1000px;
		position: relative;
		min-height: 20%;
		padding: 1.5em;
		z-index: 2;
	}

		#wrapper > * {
			z-index: 1;
		}

		#wrapper:before {
			content: '';
			display: block;
		}

/* header */
#header {
	height:90px;
	margin:15 auto;
	width:751px;
}

#header-left {
	float: left;
	width: 50%;
	}

#header-right {
	float: right;
	width: 50%;
	}

#header h1 {
	font-size:350%;
	letter-spacing:-3px;
	text-align:right;
	padding:5px;
	margin-bottom:10px;
}
#header h2 {
	color: #444;
	letter-spacing:-2px;
	text-align:right;
	font-family: '2dumb';
	margin-top:-10px;
}

/* navigation */
#navigation {
	border-top:1px solid #999;
	background:#fafafa;
	border-right:1px solid #999;
	margin:0 auto;
	width:750px;
	height:40px;
	list-style:none;
	clear: both;
}
#navigation li {
	border-left:1px solid #999;
	float:left;
	width:149px;
	list-style:none;
	font-size: 130%;
}
#navigation a {
	color:#000;
	display:block;
	line-height:40px;
	text-align:center;
}
#navigation a:hover {
	background:#e3e3e3;
	color:#555;
}
#navigation .active {
	background:#e3e3e3;
	color:#777;
}

/* content */
#content {
	height:auto;
	margin:0 auto;
	padding:0 0 20px;
	width:751px;
}
#content h1 {
	border-bottom:1px dashed #999;
	font-size:350%;
	padding:20px 0 0;
}
#content p {
	padding:20px 20px 0;
	font-family: '2dumb';
	font-size: 15px;
}
#content td {
	font-family: '2dumb';
}
#content td.add1 a, td.add2 a, td.add3 a, td.add4 a, td.add5 a {
	color:#335322;
}
#content td.add1 a:hover {
	color:#EA2228;
}
#content td.add2 a:hover {
	color:#2AAF4E;
}
#content td.add3 a:hover {
	color:#FBED05;
}
#content td.add4 a:hover {
	color:#454CC7;
}
#content td.add5 a:hover {
	color:#A44CA0;
}
progress {
	width: 95%;
	padding: 2px;
  background-color: whiteSmoke;
  border-radius: 2px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;

  height: 20px;

  position: relative;
  display: block;
}

/* footer */
#footer {
	border-top:1px solid #999;
	height:50px;
	margin:0 auto;
	padding:10px;
	text-align:center;
	width:751px;
	font-size: 110%;
	font-family: '2dumb';
}

/* Added by Larry Ullman: */
.error, .ad {
	font-weight: bold;
	color: #C00
}

input, select, .input {
	padding: 5px;
	font-weight: bold;
	font-size: 1em;
	color: #008040;
	background: #FFFFFF;
	border:1px dotted #004080;
}

input[type=submit] {
	border-radius: 25px;
	border: 1px solid black;
	padding: 9px;
	color: inherit;
	font: inherit;
	-moz-transition: color 0.2s ease, border-color 0.2s ease;
	-webkit-transition: color 0.2s ease, border-color 0.2s ease;
	-ms-transition: color 0.2s ease, border-color 0.2s ease;
	transition: color 0.2s ease, border-color 0.2s ease;
		cursor: pointer;
}

input[type=submit]:hover {
	background-color: black;
	color: #41cc30;
}

.profile_table {
	float: left;
}

.portrait {
	padding-top: 35px;
	float: right;
	height: 150px;
	width: 150px;
}

table {
	margin-top: 12px;
}

@font-face{
	font-family: '3dumb';
	src: url('3dumb.ttf') format('truetype');
}

@font-face{
	font-family: '2dumb';
	src: url('2dumb.ttf') format('truetype');
}
